.THIS h3 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(221, 219, 218);
    font-weight: 700;
    color: rgb(8, 7, 7);
    font-size: 10pt;
    margin-bottom: 10px;
}
.THIS .quoteLineItem {
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.THIS .quoteLineItem:last-child {
    border-bottom: 1px solid transparent;
}
.THIS .modalQuoteLineList {
    overflow-y: scroll;
    max-height: 400px;
}
.THIS .lineItem > div {
    flex: 1;
}
.THIS .lineItem > div:last-child {
    min-width: 50px;
    flex: 0;
    text-align: right;
}
.THIS .modalQuoteLineList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: .5;
}
.THIS .modalQuoteLineList::-webkit-scrollbar-track {
    background: rgba(241,241,241,.5); 
}
.THIS .modalQuoteLineList::-webkit-scrollbar-thumb {
    background: rgba(85,85,85,.5);
    border-radius: 100px;
}
.THIS .modalQuoteLineList::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.5);
}
.THIS .lines .slds-table td {
    white-space: initial;
}