.THIS .keyconname{ 
     text-align: left;
}
.THIS .accplan{ 
     text-align: left;
}
.THIS .keycontact{ 
     text-align: left;
}
.THIS .commentText{ 
     text-align: left;
}
.THIS .CreateContact{ 
     text-align: left;
    
}