.THIS .yellowBtn{background:#D6C929;border:1px solid #D6C929;padding-left: 1rem;padding-right: 1rem;color: #ffffff;}
.THIS .yellowBtn:hover{background:#CD9306;border:1px solid #CD9306;padding-left: 1rem;padding-right: 1rem;color: #ffffff;}
.THIS .blueBtn{background:#EB6161;border:1px solid #EB6161;padding-left: 1rem;padding-right: 1rem;color: #ffffff;}
.THIS .blueBtn:hover{background:#FF4B4B;border:1px solid #FF4B4B;padding-left: 1rem;padding-right: 1rem;color: #ffffff;}